<%-partial('./view/partials/common/vars') %>

<% layout('./view/layout/page') -%>
<% block('title', blocks.hometitle); -%>

<%-partial('./view/partials/sections/nav') %>

<h1><%= blocks.title %></h1>
