[submodule "projects"]
	path = projects
	url = https://github.com/davaynamore/davaynamore.github.io.git
[submodule "sandbox"]
	path = sandbox
	url = https://github.com/davaynamore/sandbox.git
[submodule "tartalon"]
	path = tartalon
	url = https://github.com/Tartalon/tartalon.github.io
