<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <title><%= blocks.title %></title>
  <%-partial('../partials/common/links') %>
</head>
<body>
  <%-body -%> <!-- index.ejs -->
  <%-partial('../partials/common/scripts') %>
</body>
</html>
